* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: flex;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

.name
{
	font-weight: bold;
}
.nav1
{
	margin-top: 30px;
	margin-bottom: 70px;
	height:50px;
}
.nav
{
	margin-top: 30px;
	margin-bottom: 70px;
	height:50px;
	
	font-style: arial;
	color:black;
	font-size: 10pt;
	background-image: url(img1.jpg);
	height: 620px;
}
 .img:hover {
    opacity: 0.75;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.icon-text
{
	font-family: arial;
	font-size: 18pt/28pt;
	color: #414042;

}
.sec
{
	height: 340px;
}
.float1
[
]
.icon-text1{
	font-family: arial;
	font-weight: bold;
	font-size: 28pt/28pt;
	color: #414042;


}
.icon
{
	background-color: #c2b59b;
	margin: 40px 0;
	height:70%;
}

.call
{
	font-family: arial;
	color: #ffffff;
	font-size: 26pt/42pt;
	margin:auto;
	padding-bottom: 60px;
	text-align: center;
	padding-top: 250px;
}

.callout
{
	height: 400px;
	background-image: url(down2.jpg);
}

.button1
{

	margin-top: 50px;
	margin-bottom: 110px;
	margin-left: auto;
}
.a{
	font-family: arial;
	font-weight: bold;
	color: #8DC63F;

}
.lorem1
{
	margin-top: 10px;
	font-family: arial;
	font-size: 21pt;

}
.btn2
{

	height:50px;
	border-radius: 4px;
	padding:15px 30px;
	margin-left:40% ;
	font-family: arial;
	text-transform: uppercase;
	font-size: 18pt;
	color:#ffffff;
	border: 1px solid #ffffff;
}
.hero
{
	font-family: arial;
	font-weight: bold;
	color: #ffffff;
	font-size: 42pt/42pt;
	text-align: center;
}
   div.img1
    {border-top: 3px solid green;
        height:50%;
        background-image: url("download1.jpg");
        background-repeat:repeat;
       
    }
    div.img2
    {
        border-top: 3px solid orange;
        height:50%;
        height:50%;
        background-image: url("download2.jpg");
        background-repeat: repeat;
    }
     div.img3
    {
        border-top: 3px solid brown;
        height:50%;
                 height:50%;
        background-image: url("download3.jpg");
        background-repeat: repeat;
    }
    .d
    {
    	margin: 40px 0;
    }
   
    .text4
    {
    	font-family: arial;
    	font-weight: bold;
    	color:#414042;
    	height: 44px;

    	padding-top: 10px;
    	padding-right: 25px;
    	padding-bottom: 10px;
    	padding-left: 10px;
    	
    	background-color:#8DC63F;
    }
   
    .text2
    {

    	font-family: arial;
    	font-weight: bold;
    	color:#414042;
    	height: 44px;
        padding-top: 10px;
     	padding-right: 25px;
    	padding-bottom: 10px;
    	padding-left: 10px;
    	position: top left;

    	background-color:#F7941E;
    }
    .text3
    {
    	font-family: arial;
    	font-weight: bold;
    	color:#414042;
    	height: 44px;
        padding-top: 10px;
    	padding-right: 25px;
    	padding-bottom: 10px;
    	padding-left: 10px;

    	background-color:#C49A6C;
    }
.img
{
	height: 204px;

}

.content
{
	font-family: arial;
	font-size: 26pt/42pt;
	color: #ffffff;
	text-align: center;
	margin-top: 30px;
}
.nav1
{
	color: #ffffff
}

p{font-size: 18pt;}
.heading
{
	width:265px;

}
.circle
{
	height:50px;
	width: 50px;
	background-color: black;
	border-radius: 25px;
}

.btn
{ 
	background-color: #8DC63F;
	height:40px;
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 18pt;
	color: #ffffff;
	font-family: arial;
}



 .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
@media only screen and (max-width: 500px) 
{
    /* For desktop: */
   [class*="col-"] {
    width: 100%;
	}
.nav1
{
	background-color: blue;
	height: 335px;
}
.name
{
	display: none;
}





}